{% extends "base.html" %}

{% block xtralinks %}
<script src="battle.js"></script>
{% endblock %}

{% block title %}
{{ p1 }} vs. {{ p2 }}
{% endblock %}

{% block content %}

<div id="edosh"></div>
<div id="round"></div>
<ul  id="stock">
  <li id="stoc1">
    <div class="card" style="width:18rem;">
      <img id="stoc1buy" class="card-img" src="static/buy.png" style="width:18rem;"/>
      <div class="card-body">
	   <div id="stoc1nam" class="card-title">TITLE</div>
      </div>
      <img id="stoc1sel" class="card-img" src="static/sell.png" style="width:18rem;"/>
    </div>
  </li>




</ul >
<div id="pdosh"></div>

{% endblock %}
