{% extends "base.html" %}

{% block xtralinks %}
<script src="battle.js"></script>
{% endblock %}

{% block title %}
{{ p1 }} vs. {{ p2 }}
{% endblock %}

{% block content %}

<div id="edosh"></div>
<div id="round"></div>
<ul  id="stock">
  <li id="stoc1">
    <div class="card">
      <img id="stoc1buy" class="card-img-top" src="buy.png"/>
      <div id="stoc1nam" class="card-title">TITLE</div>
      <div id="stoc1sel" class="card-img-bottom" src="sell.png"/>
    </div>
  </li>




</ul >
<div id="pdosh"></div>

{% endblock %}
