{% extends "base.html" %}

{% block title %} Business Doggo {% endblock %}
{% block content %}
<div class="centerbody">
  <h1> Welcome to our game, "Dog Eat Dog!" </h1>
  <br>
  Here, you will be able to play as a dog trading stocks to become the best business doggo and achieve that victory royale.
  <br>
  <br>
  1. You will be presented with 5 stocks.
  <br>
  2. Sell or buy, but be careful on what you buy as you have limited money.
  <br>
  3. After each round, the stocks will be calculated and you will be given money accordingly.
  <br>
  4. VICTORY ROYAL after they lose all their money or whoever has more money after 10 rounds.
</div>
{% endblock %}
