<!DOCTYPE HTML>
<html>
  <head>
    <title>bazigna</title>
  </head>
  <body>
    <div id="a">0</div>
    <button id="i">hello</button>

	<script>
      
      var a = document.getElementById("a");
      setInterval(() => {
      var tst = new XMLHttpRequest();
	  tst.onreadystatechange = ()=>{
	  if(tst.readyState===4)
	  a.innerHTML=tst.responseText;
	  }
      tst.open("GET","/val");
      tst.send(null);
	  },100);

	  var inc = () => {
      
      }
	  
      var i = document.getElementById("i");
      i.addEventListener("click",()=>{
	  var tst = new XMLHttpRequest();
      tst.open("GET","/inc");
      tst.send(null);
	  console.log(tst.responseText);
	  });

    </script>

  </body>
</html>
